In [1]:
import sqlite3
con = sqlite3.connect('Moviesdbkp.db')

In [2]:
cur = con.cursor()

# Create the MOVIES table
cur.execute('''CREATE TABLE MOVIES
               (MovieName text, LeadActor text, LeadActress text, Director text, YOR text)''')

In [3]:
# Inserting data in the MOVIES table of the database
cur.execute("INSERT INTO MOVIES VALUES ('DEATH ON THE NILE','Kenneth Branagh','Gal Gadot', 'Kenneth Branagh', '2022')")
cur.execute("INSERT INTO MOVIES VALUES('MARRY ME','Owen Wilson', 'Jennifer Lopez', 'Kat Coiro', '2022')")
cur.execute("INSERT INTO MOVIES VALUES('THE POWER OF THE DOG','Benedict Cumberbatch', 'Kirsten Dunst', 'Jane Campion', '2021')")
cur.execute("INSERT INTO MOVIES VALUES('NIGHTMARE ALLEY','Bradley Cooper', 'Rooney Mara', 'Guillermo del Toro', '2021')")
cur.execute("INSERT INTO MOVIES VALUES('I WANT YOU BACK','Charlie Day', 'Jenny Slate', 'Jason Orley', '2022')")
cur.execute("INSERT INTO MOVIES VALUES('THE IMITATION GAME','Benedict Cumberbatch', 'Keira Knightley', 'Morten Tyldum', '2014')")

con.commit()

In [4]:
# Printing all the data avaailable in the database
for row in cur.execute('SELECT * FROM MOVIES'):
        print(row)

('DEATH ON THE NILE', 'Kenneth Branagh', 'Gal Gadot', 'Kenneth Branagh', '2022')
('MARRY ME', 'Owen Wilson', 'Jennifer Lopez', 'Kat Coiro', '2022')
('THE POWER OF THE DOG', 'Benedict Cumberbatch', 'Kirsten Dunst', 'Jane Campion', '2021')
('NIGHTMARE ALLEY', 'Bradley Cooper', 'Rooney Mara', 'Guillermo del Toro', '2021')
('I WANT YOU BACK', 'Charlie Day', 'Jenny Slate', 'Jason Orley', '2022')
('THE IMITATION GAME', 'Benedict Cumberbatch', 'Keira Knightley', 'Morten Tyldum', '2014')

In [6]:
# Printing the details of the movies having Benedict Cumberbatch as lead actor
cur.execute("SELECT * FROM MOVIES WHERE LeadActor = 'Benedict Cumberbatch'")
record = cur.fetchall()
for row in record:
        print(row)

('THE POWER OF THE DOG', 'Benedict Cumberbatch', 'Kirsten Dunst', 'Jane Campion', '2021')
('THE IMITATION GAME', 'Benedict Cumberbatch', 'Keira Knightley', 'Morten Tyldum', '2014')